.app {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  padding: 3rem;
}

.italic {
  font-style: italic;
}

.counter__container {
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.counter__count-text {
  margin: 0 2rem;
  font-size: 2rem;
}

.counter__btn {
  font-size: 1.5rem;
  padding: 0.25rem 3rem;
  background-color: rgb(46, 85, 72);
  color: white;
  border: 2px solid white;
  border-radius: 2rem;
}

.counter__btn:disabled {
  background-color: rgb(88, 104, 99);
}